In [5]:
#Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
#lambda and map functions.
list_=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=list(map(lambda x: x**2,list_))

In [6]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
#Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions
Given_String= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected_output= ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
b=tuple(map(lambda x,y:(x,y),Given_String,Expected_output))

In [11]:
b

((1, '1'),
 (2, '2'),
 (3, '3'),
 (4, '4'),
 (5, '5'),
 (6, '6'),
 (7, '7'),
 (8, '8'),
 (9, '9'),
 (10, '10'))

In [19]:
#Q4. Write a python program using reduce function to compute the product of a list containing numbers
#from 1 to 25.
list_=list(range(1,26))

In [22]:
from functools import reduce
a=reduce(lambda x,y:x+y,list_)

In [23]:
a

325

In [29]:
#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
#filter function.
list_=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
b = list(filter(lambda x: x if x % 2 == 0 and x % 3 == 0 else None , list_))

In [30]:
b

[6, 60, 90, 120]

In [31]:
#Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
#function.
list_ = ['python', 'php', 'aba', 'radar', 'level']
b = list(filter(lambda x: x == x[::-1], list_))

In [32]:
b

['php', 'aba', 'radar', 'level']

In [33]:
list_ = ['python', 'php', 'aba', 'radar', 'level']
b = list(filter(lambda x: x != x[::-1], list_))

In [34]:
b

['python']

In [48]:
#Q1. Create a python program to sort the given list of tuples based on integer value using a
#lambda function.
a=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
c=sorted(a,key=lambda x:x[1])

In [49]:
c

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [73]:
#sorting in dictionary
a = {'Sachin Tendulkar': 34357, 'Ricky Ponting': 27483, 'Jack Kallis': 25534, 'Virat Kohli': 24936}
b = sorted(a.items(), key=lambda x: x[1])

In [74]:
b

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]